* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: url(./public/assets/bg-table.jpeg);
  color: white;
  background-size: cover;
}

.header {
  text-align: center;
  background: url(./public/assets/bg-image.jpg);
  background-position: 50%;
  color: white;
  font-size: 25px;
}

.titulo-header {
  color: rgb(238, 167, 13);
  text-shadow: 0 0 10px yellow;
}

.carta {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#computadora-cartas,
#jugador-cartas {
  height: 240px;
}

.info-game {
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 50px;
  right: 50px;
  font-weight: bold;
  border: none;
  color: white;
  border-radius: 50%;
  background: blue;
  box-shadow: 0 0 10px 5px rgb(19, 46, 168);
}

.info-game:hover {
  background: rgb(52, 52, 240);
  box-shadow: 0 0 10px 5px rgb(42, 63, 158);
}

.btn-limpiar {
  border-radius: 50%;
  background: red;
  color: white;
  width: 150px;
  height: 60px;
  font-weight: 700;
  transition: all ease .3s;
  border: none;
  border: 4px solid rgb(158, 1, 1);


  &:hover {
    cursor: pointer;
    background: rgb(158, 1, 1);
  }
}

.btn-plantarse {
  font-weight: 700;
  border-radius: 50%;
  color: white;
  background: blue;
  height: 100px;
  margin-top: 15px;
  width: 150px;
  border: 4px solid rgb(0, 0, 128);
  transition: all ease .3s;

  &:hover {
    background: rgb(0, 0, 128);
    cursor: pointer;
  }

}

.btn-pedir {
  font-weight: 700;
  border-radius: 50%;
  color: white;
  background: green;
  height: 60px;
  width: 150px;
  border: none;
  transition: all ease .3s;
  border: 4px solid rgb(0, 78, 0);


  &:hover {
    background: rgb(0, 78, 0);
    cursor: pointer;
  }
}