*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0px;
  background: url(./public/assets/bg-table.jpeg);
  color: white;
  background-size: cover;
}

.header {
  text-align: center;
  background: url(./public/assets/bg-image.jpg);
  background-position: 50%;
  color: white;
  /* padding: 20px; */
  font-size: 25px;
}
.titulo-header{
  color: rgb(238, 167, 13);
  text-shadow: 0 0 10px yellow;
}

.carta {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
  height: 240px;
}